<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Enki D.O.O.{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('static/images/favicon.ico') }}" />
        <link href="{{ asset("static/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("static/css/font-awesome.min.css") }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{{ asset("static/css/style.css") }}" rel="stylesheet">

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('static/images/logo.png') }}" height="100px">&nbsp;&nbsp;Enki D.O.O.
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item px-lg-4
                    {% if activePage is defined and activePage == "homepage" %}
                        active
                    {%  endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="/">Startseite
                        </a>
                    </li>
                    <li class="nav-item px-lg-4
                    {% if activePage is defined and activePage == "projects" %}
                        active
                    {%  endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="/projekte/">Projekte</a>
                    </li>
                    <li class="nav-item px-lg-4
                    {% if activePage is defined and activePage == "contact" %}
                        active
                    {%  endif %}">
                        <a class="nav-link text-uppercase text-expanded" href="/kontakt/">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>


    {% if error is defined and error != null %}
        <div class="alert alert-danger" role="alert">
            {{ error | raw }}
        </div>
    {% elseif success is defined and success != null %}
        <div class="alert alert-success" role="alert">
            {{ success | raw }}
        </div>
    {% endif %}
        <div class="main-content">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <footer class="bg-faded text-center fixed-bottom" style="background-color: rgba(255, 255, 255, 1);">
                <div class="container">
                    <p class="m-0">2017&copy; Alle Rechte vorbehalten</p>
                    <a class="text-muted" href="/impressum/"><small>Impressum</small></a>
                </div>
            </footer>
            <script src="{{ asset("static/js/jquery.min.js") }}"></script>
            <script src="{{ asset("static/js/popper.min.js") }}"></script>
            <script src="{{ asset("static/js/bootstrap.min.js") }}"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src={{ asset("static/js/ie10-viewport-bug-workaround.js") }}></script>
            <script src={{ asset("static/js/script.js") }}></script>
        {% endblock %}
    </body>
</html>
