{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="project" href="/projects/ishap/">
            <h1>ISHAP Befund-App</h1>
            <p>
                Single page application für digitales Bearbeiten von Dokumenten.
                Die Applikation kann von mehreren Firmen mit mehreren Angestellten benutzt werden die verschiede
                Zugansberechtigungen haben können. Die Firmen können die Struktur der Dokumente in den CMS ändern,
                wie auch neue User kreieren, ändern, usw.<br>
                Geschrieben in node/hapi/postgres, react/redux, und typescript/javascript.
            </p>
            <hr>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/login.png') }}">
                <p>
                    Login page
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund_liste.png') }}">
                <p>
                    Befund Liste für angemeldeten User(Person)
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund.png') }}">
                <p>
                    Bearbeiten des Befundes
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund_definition_liste.png') }}">
                <p>
                    CMS - Liste der Befund Definitionen für angemeldeten User(Firma)
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund_definition_version_liste.png') }}">
                <p>
                    CMS - Liste der Versionen der gewählten Befund Definition
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund_definition_cms.png') }}">
                <p>
                    CMS - Bearbeitung der Befund Definition
                </p>
                <hr>
            </div>
            <div class="project-image">
                <img src="{{ asset('static/images/projects/ishap/befund_definition_cms_html_edit_html_preview.png') }}">
                <p>
                    CMS - Bearbeitung der Struktur des PDFs der Befund Definition.<br>
                    Die Struktur wird in HTML/CSS/js geschrieben und rechts sehen wir das PDF preview mit auto-reload.
                </p>
            </div>
        </div>
    </div>

{% endblock %}