{% extends 'base.html.twig' %}

{% block body %}

    <div class="container container-project">
        <div class="project" href="/projects/ishap/">
            <h1>ISHAP Befund-App</h1>
            <img src="{{ asset('static/images/projects/ishap/befund_definition_cms_html_edit_pdf_preview.png') }}">
            <p>
                Single page application für digitales Bearbeiten von Dokumenten.
                Die Applikation kann von mehreren Firmen mit mehreren Angestellten benutzt werden die verschiede
                Zugansberechtigungen haben können. Die Firmen können die Struktur der Dokumente in den CMS ändern,
                wie auch neue User kreieren, ändern, usw.<br>
                Geschrieben in node/hapi/postgres, react/redux, und typescript/javascript.
            </p>
            <a class="btn bg-info" href="/projekte/ishap/">Lese mehr</a>
        </div>
    </div>

    <div class="container container-project">
        <div class="project">
            <h1>Paion - Collaboration tool for medical professionals</h1>
            <div style="display:flex;justify-content:space-between;">
              <img style="width:49%;" src="{{ asset('static/images/projects/paion/screen_1.png') }}">
              <img style="width:49%;" src="{{ asset('static/images/projects/paion/screen_2.png') }}">
            </div>
            <p>
                Mobile app für android und iOS. Eine chat application gebaut speziell für den Kunden da die App auschliesslich Ärtze u.ä. benutzen werden. Einige von der requirements sind
                <ul>
                  <li>Bilderbearbeitung von uploads von Bildern von Pazienten in der App selbst</li>
                  <li>Minimalistischer Style und weniger Funktionalität als z.B. WhatsApp</li>
                  <li>Custom Hilfe und Setting sections</li>
                  <li>Custom groups usw.</li><br>
                Geschrieben in react-native.
            </p>
        </div>
    </div>

    <div class="container container-project">
        <div class="project">
            <h1>slusaj - Music streaming app</h1>
            <div style="display:flex;justify-content:space-between;">
              <img class="col-lg-6" src="{{ asset('static/images/projects/music/screen_1.png') }}">
              <img class="col-lg-6" src="{{ asset('static/images/projects/music/screen_2.png') }}">
            </div>
            <p>
                Music streaming app für android.
                Geschrieben in react-native.
            </p>
        </div>
    </div>

    <div class="container container-project">
        <div class="project">
            <h1>woerz-ferienwohnung.de</h1>
            <img src="{{ asset('static/images/projects/woerz/1.png') }}">
            <p>
              Frontend Umsetzung im HTML,CSS,JS
            </p>
        </div>
    </div>

    <div class="container container-project">
        <div class="project">
            <h1>druck.at</h1>
            <img src="{{ asset('static/images/projects/druck/1.png') }}">
            <p>
              Frontend Umsetzung im HTML,CSS,JS
            </p>
        </div>
    </div>

{% endblock %}